/* body{
  margin: 0;
}
header{
  background-color: #44b1ca;
  width: 100%;
}
h1, h4{
  text-indent: 15px;
  text-align: center;
  display: inline-block;
}
h1{
  margin-bottom: inherit;
}
h4{
  margin-top:-20px;
}
aside.login{
  float:right;
}
aside.login nav.navigation button{
  border: 5px, 5px, 5px, 5px;
  border-color: #000000;
  background-color: #44b1ca;
  width: 75px;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
}

fieldset.selection{
  width: 600px;
  text-align: center;
}
fieldset.selection p{
  display:inline;
}
fieldset.selection legend{
  text-align: left;
}
footer{
  background-color: #a7a7a7;
}
span{
  background-color: blue;
}
p.Copyright{
  font-weight: bold;
}
a.logoFacebook img{
  margin-bottom: -3px;
  height:17px;
  width: 20px;
} */
html{
  box-sizing: border-box;
}
body{
  margin:0;
}
header{
  background-color: #20ffffad;
}
header div.heading{
  float: left;
  width: 80%;
  text-align: center;
}
header aside{
  float: left;
  width: 20%;
}
header aside div{
  float:right;
  margin: 5px 5px 5px 0px;
}
header aside .session{
  float: right;
  margin: 5px 5px 0px 0px;
}
header h1{
  margin: 0px 0px -5px 25px;
  padding-top: 15px;
}
header h4{
  margin: 0px 0px 10px 25px;
}
header aside div.login{
  margin: 20px 0px 0px 0px;
  width: 100%;
}
 main{
  width: 90%;
  margin: 0 auto;
  background-color: #b8c2c340;
  display: block;
}
main div{
  width: 70%;
  float: left;
}
 main aside{
  width: 30%;
  float: right;
  text-align: center;
}
 footer {
  background-color: #20ffffad;
}
main div.conteiner p{
  margin-top: 0px;
  padding:15px 0px 0px 15px;
}



















.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.promotions img{
  width:300px;
  height:300px;
}
 footer img{
   width:25px;
   height:25px;
 }
 .configuration button img{
    width: 20px;
    height: 20px;
 }
