/*
aside.login nav.navigation button{
  border: 5px, 5px, 5px, 5px;
  border-color: #000000;
  background-color: #44b1ca;
  width: 75px;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
}*/
html{
  box-sizing: border-box;
}
body{
  margin:0;
}
header{
  background-color: #20ffffad;
}
header div.heading{
  float: left;
  width: 80%;
  text-align: center;
}
header aside{
  float: left;
  width: 20%;
}
header aside div{
  float:right;
  margin: 5px 5px 5px 0px;
}
header aside .session{
  float: right;
  margin: 5px 5px 0px 0px;
}
header h1{
  margin: 0px 0px -5px 25px;
  padding-top: 15px;
}
header h4{
  margin: 0px 0px 10px 25px;
}
header aside div.login{
  margin: 20px 0px 0px 0px;
  width: 100%;
}
header aside div.login nav.login{
  float: right;
  margin: 25px 0px 0px 0px;
}
header aside div.login a.cerrarSesion{
  float: right;
  margin: 25px 0px 5px 0px;
}
 main{
  width: 90%;
  margin: 0 auto;
  background-color: #b8c2c340;
  display: block;
}
main div{
  width: 70%;
  float: left;
}
 main aside{
  width: 30%;
  float: right;
  text-align: center;
}
main div.travel button{
  border: 5px, 5px, 5px, 5px;
  border-color: #000000;
  background-color: #20ffffad;
  width: 75%;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
  margin: 20px 0px 10px 20px;
}
main div article {
  margin: 20px 0px 10px 10px;
  height: 300px;
}
main div article img{
  width: 50%;
  float: left;
}
main div article p.text{
  width: 47%;
  float: left;
  margin-left:3%;
}
main div article button{
  margin-left:3%;
}
 footer {
  background-color: #20ffffad;
}
main div.conteiner p{
  margin-top: 0px;
  padding:15px 0px 0px 15px;
}



















.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.promotions img{
  width:300px;
  height:300px;
}
 footer img{
   width:25px;
   height:25px;
 }
 .configuration button img{
    width: 20px;
    height: 20px;
 }
