
html{
  box-sizing: border-box;
}
body{
  margin:0;
}
header{
  background-color: #20ffffad;
}
header div.heading{
  float: left;
  width: 90%;
  text-align: center;
}
header aside{
  float: left;
  width: 10%;
}
header aside div{
  float:right;
  margin: 5px 5px 5px 0px;
}
header aside .session{
  float: right;
  margin: 5px 5px 0px 0px;
}
header h1{
  margin: 0px 0px -5px 25px;
  padding-top: 15px;
}
header h4{
  margin: 0px 0px 10px 25px;
}
header aside div.login{
  margin: 20px 0px 0px 0px;
  width: 100%;
}
header aside div.login nav.login{
  float: right;
  margin: 25px 0px 0px 0px;
}
header aside div.login a.cerrarSesion{
  float: right;
  margin: 25px 0px 5px 0px;
}
header div.user aside a{
  float:right;
  display: block;
  width: 100%;
  text-align: center;
}
header div.user aside a.admin{
  margin: 5px -15px 0px 0px;
}
header div.user aside a.volver{
  margin: 20px 0px 0px 0px;
}
 main{
  width: 90%;
  margin: 0 auto;
  background-color: #b8c2c340;
}
main div{
  width: 70%;
  float: left;
}
 main aside{
  width: 30%;
  float: right;
  text-align: center;
}
main div.conteiner p{
  margin-top: 0px;
  padding:15px 0px 0px 15px;
}
 footer {
  background-color: #20ffffad;
}



















.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.promotions img{
  width:300px;
  height:300px;
}
 footer img{
   width:25px;
   height:25px;
 }
 .configuration button img{
    width: 20px;
    height: 20px;
 }
