<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/AdminCss.css">
</head>
<body>
  <header>
    <div class="headers">
      <h1>Aluses Airlines</h1>
      <h4>Admin</h4>
    </div>
    <div class="user">
      <a href="/home"><button class="button" type="button" name="user" role="button">User</button></a>
    </div>
  </header>
  <main>
    <nav class="navegación clearfix" role="navigation">
        <ul>
            <li role="listitem"><a href="/user"><button type="button">User</button></a></li>
            <li role="listitem"><a href="/planeModel"><button type="button">Plane model</button></a></li>
            <li role="listitem"><a href="/seats"><button type="button">Seats</button></a></li>
            <li role="listitem"><a href="/plane"><button type="button">Plane</button></a></li>
            <li role="listitem"><a href="/flight"><button type="button">Flight</button></a></li>
            <li role="listitem"><a href="/flightUser"><button type="button">Flight user</button></a></li>
        </ul>
    </nav>
  </main>
</body>
</html>
