<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit flight user</title>
</head>
<body>
    <form action="/flightUser/editFlightUser" method="post" role="form">
        <input type="text" name="idFlight" placeholder="nuevo vuelo" role="textbox">
        <input type="text" name="idUser" placeholder="nuevo usuario" role="textbox">
        <input type="text" name="seatNumber" placeholder="nuevo asiento" role="textbox">
        <input type="submit" value="Sumbit" role="button">
    </form>
</body>
</html>