<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit flight</title>
</head>
<body>
    <form action="/flight/editFlight" method="post" role="form">
        <input type="hidden" name="idFlight" value="{{idFlight}}" readonly>
        <input type="text" name="departure" placeholder="salida" role="textbox">
        <input type="text" name="arrival" placeholder="llegada" role="textbox">
        <input type="text" name="idPlane" placeholder="avion" role="textbox">
        <input type="datetime-local" name="flightDepartureDatetime">
        <input type="datetime-local" name="flightArrivalDatetime">
        <input type="text" name="percentDiscount">
        <input type="submit" value="Sumbit" role="button">
    </form>
</body>
</html>