<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditCrew</title>
</head>
<body>
    <form action="/editCrew" method="post">
        <input type="hidden" name="idPerson" value="{{idPerson}}" readonly>
        <input type="text" name="name" placeholder="Nuevo nombre">
        <input type="text" name="lastname" placeholder="Nuevo apellido">
        <input type="text" name="dayStaying" placeholder="cantidad dias">
        <input type="submit" value="Sumbit">
    </form>
</body>
</html>