<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/viaje.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/JavaScript/viaje.js"></script>
</head>
<body>
    <header>
      <div class="heading clearfix">
        <h1 role="heading" class="headers">Aluses Airlines</h1>
        <h4 role="heading" class="headers">Viva una experiencia unica de vuelo</h4>
      </div>
      <div class="aside user clearfix">
          <aside role="complementary">
            {% if admin == 1 %}
              <a href="/admin" class="admin"><button class="button" type="button" name="admin" role="button">Admin</button></a>
            {% endif %}
          </aside>
      </div>
    </header>
    <main>
      <form class="form" action="/elegirAsiento" method="post">
        <select class="fechaVuelta" name="fechaVuelta">
          <option value="-"> -- Seleccione una fecha de vuelta -- </option>
          {% for item in listaFechaVuelta %}
            <option value="{{item}}">{{item}}</option>
          {% endfor %}
        </select>
        <input type="text" name="salida" value="{{salida}}" readonly>
        <input type="text" name="llegada" value="{{llegada}}" readonly>
        <input type="text" name="fechaIda" value="{{fechaIda}}" readonly>
        <button type="submit" name="button" value="continue">continue</button>
      </form>

    </main>
      <footer>
        <div class="clearfix">
          <h2>Nuestras redes</h2>
          <span><a href="https://es-la.facebook.com/"><img class="logoFacebook" src="../static/img/facebook.png" alt="logoFacebook"></img></a></span>
          <span><a href="https://www.instagram.com/?hl=es-la"><img class="logoInstagram" src="../static/img/Instagram.png" alt="logoInstagram"></img></a></span>
          <span><a href="https://ar.linkedin.com/"><img class="logoLinkedin" src="../static/img/linkedin.png" alt="logoLinkedin"></img></a></span>
          <span><a href="https://twitter.com/?lang=es"><img class="logoTwitter" src="../static/img/Twitter.png" alt="twitter"></img></a></span>
          <p class="Copyright">2018 Copyright Holder All Rights Reserved. &copy </p>
        </div>
      </footer>
  </body>
  </html>
