<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flight</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:50%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        a {
            color: #2b6e6f;
        }
    </style>
</head>
<body>
    <table role="table">
    <tr role="row">
        <th role="columnheader">id flight</th>
        <th role="columnheader">salida</th>
        <th role="columnheader">llegada</th>
        <th role="columnheader">avion</th>
        <th role="columnheader">fecha salida</th>
        <th role="columnheader">fecha llegada</th>
    </tr>
    {% for item in listaFlight %}
        <tr role="row">
            <td role="cell">{{ item.idFlight }}</td>
            <td role="cell">{{ item.departure }}</td>
            <td role="cell">{{ item.arrival }}</td>
            <td role="cell">{{ item.Plane.idPlane }}</td>
            <td role="cell">{{ item.flightDepartureDatetime }}</td>
            <td role="cell">{{ item.flightArrivalDatetime }}</td>
            <td role="cell"><a href="/flight/editarFlight?idFlight={{item.idFlight}}">editar</a></td>
            <td role="cell"><a href="/flight/deleteFlight?idFlight={{item.idFlight}}">borrar</a></td>
        </tr>
    {% endfor %}
</table>
<br><a href="/flight/insertarFlight">Agregar flight</a>
</body>
</html>