<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
</head>
<body>
    <nav class="navegación" role="navigation">
        <ul>
            <li role="listitem"><a href="/user">User</a></li>
            <li role="listitem"><a href="/planeModel">Plane model</a></li>
            <li role="listitem"><a href="/seats">Seats</a></li>
            <li role="listitem"><a href="/plane">Plane</a></li>
            <li role="listitem"><a href="/flight">Flight</a></li>
            <li role="listitem"><a href="/flightUser">Flight user</a></li>
        </ul>
    </nav>
</body>
</html>