<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Crew</title>
</head>
<body>
    <form action="/insertCrew" method="post">
        <input type="text" name="name" placeholder="nombre">
        <input type="text" name="lastname" placeholder="apellido">
        <input type="email" name="mail" placeholder="mail">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="dayStaying" placeholder="cantidad dias">
        <input type="submit" value="Sumbit">
    </form>
</body>
</html>