<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert user</title>
</head>
<body>
    <form action="/user/insertUser" method="post" role="form">
        <input type="text" name="name" placeholder="nombre" role="textbox">
        <input type="text" name="lastname" placeholder="apellido" role="textbox">
        <input type="email" name="mail" placeholder="mail" role="textbox">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Sumbit" role="button">
    </form>
</body>
</html>