<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert flight user</title>
</head>
<body>
    <form action="/flightUser/insertFlightUser" method="post" role="form">
        <input type="text" name="idFlight" placeholder="vuelo" role="textbox">
        <input type="text" name="idUser" placeholder="usuario" role="textbox">
        <input type="text" name="seatNumber" placeholder="asiento" role="textbox">
        <input type="submit" value="Sumbit" role="button">
    </form>
</body>
</html>
