<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/HomeCss.css">
    <script src="home.js"></script>
</head>
<body>
    <header>
      <div class="heading clearfix">
        <h1 role="heading" class="headers">Aluses Airlines</h1>
        <br><h4 role="heading" class="headers">Viva una experiencia unica de vuelo</h4>
      </div>
      <div class="aside clearfix">
          <aside role="complementary">
              <div class="configuration">
                <!-- si el usuario es administrador poner una opcion de admin o user en lugar del config -->
                {% if admin == 1 %}
                  <a href="/admin"><button class="button" type="button" name="admin" role="button">Admin</button></a>
                {% endif %}
              </div>
              <div class="login">
                {% if active == True %}
                  <a href="/logOutSesion" class="cerrarSesion"><button class="button session" type="button" name="logOut" role="button">Cerrar sesión</button></a>
                {% endif %}
                {% if active != True %}
                  <nav role="navigation" class="login">
                    <a href="/signIn"><button class="button session" type="button" name="signIn" role="button">Iniciar sesión</button></a>
                    <a href="/signUp"><button class="button session" type="button" name="signUp" role="button">Registrarse</button></a>
                  </nav>
                 {% endif %}
              </div>
          </aside>
      </div>
    </header>
    <main class="clearfix">
        <div class="news">
          <article class="Londres">

            <p> Viaje a Londres: </p>
            <img src="../static/img/londres.jpg" alt="Londres image">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% if active == True %}
              <a href="/confirmarReserva?idFlight=XXXXX&idSeat=XXXXX"><button type="button" name="button">Reserva tu pasaje</button></a>
            {% endif%}
          </article>

          <article class="Paris">

            <p> Viaje a Paris: </p>
            <img src="../static/img/paris.jpeg" alt="Paris image">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% if active == True %}
              <a href="/confirmarReserva?idFlight=XXXXX&idSeat=XXXXX"><button type="button" name="button">Reserva tu pasaje</button></a>
            {% endif%}
          </article>

          <article class="Rumania">

            <p> Viaje a Rumania: </p>
            <img src="../static/img/rumania.jpeg" alt="Rumania image">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% if active == True %}
              <a href="/confirmarReserva?idFlight=XXXXX&idSeat=XXXXX"><button type="button" name="button">Reserva tu pasaje</button></a>
            {% endif%}
          </article>

          <article class="Holanda">

            <p> Viaje a Holanda: </p>
            <img src="../static/img/Holanda.png" alt="Holanda image">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% if active == True %}
              <a href="/confirmarReserva?idFlight=XXXXX&idSeat=XXXXX"><button type="button" name="button">Reserva tu pasaje</button></a>

          </article>
        </div> <!-- contenedor -->
      <aside class="reservations">
        <h2>Tus reservas</h2>
        <h3>Vuelos reservados hacia:</h3>
          {% for item in listaVuelosUser %}
            <ul>
              {{item.FlightObj.arrival}}
            </ul>
          {% endfor %}
          {% endif %}

        {% if active == True %}
          <div class="travel">
            <a href="/elegirSalida"><button class="travel" type="button" name="travelButton">Crea tu viaje</button></a>
          </div>
        {% endif %}
      </aside>
    </main>
    <footer>
      <div class="clearfix">
        <h2>Nuestras redes</h2>
        <span><a href="https://es-la.facebook.com/"><img class="logoFacebook" src="../static/img/facebook.png" alt="logoFacebook"></img></a></span>
        <span><a href="https://www.instagram.com/?hl=es-la"><img class="logoInstagram" src="../static/img/Instagram.png" alt="logoInstagram"></img></a></span>
        <span><a href="https://ar.linkedin.com/"><img class="logoLinkedin" src="../static/img/linkedin.png" alt="logoLinkedin"></img></a></span>
        <span><a href="https://twitter.com/?lang=es"><img class="logoTwitter" src="../static/img/Twitter.png" alt="twitter"></img></a></span>
        <p class="Copyright">2018 Copyright Holder All Rights Reserved. &copy </p>
      </div>
    </footer>
</body>
</html>
