<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:30%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        a {
            color: #2b6e6f;
        }
    </style>
</head>
<body>
    <table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>mail</th>
    </tr>
    {% for item in listaUser %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.lastname }}</td>
            <td>{{ item.mail }}</td>
            <td><a href="/user/editarUser?idUser={{item.idUser}}">editar</a></td>
            <td><a href="/user/deleteUser?idUser={{item.idUser}}">borrar</a></td>
        </tr>
    {% endfor %}
</table>
<br><a href="/user/insertarUser">Agregar usuario</a>
</body>
</html>