<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:30%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        a {
            color: #2b6e6f;
        }
    </style>
</head>
<body>
    <table role="table">
    <tr role="row">
        <th role="columnheader">id usuario</th>
        <th role="columnheader">Nombre</th>
        <th role="columnheader">Apellido</th>
        <th role="columnheader">mail</th>
    </tr>
    {% for item in listaUser %}
        <tr role="row">
            <td role="cell">{{ item.idUser }}</td>
            <td role="cell">{{ item.name }}</td>
            <td role="cell">{{ item.lastname }}</td>
            <td role="cell">{{ item.mail }}</td>
            <td role="cell"><a href="/user/editarUser?idUser={{item.idUser}}">editar</a></td>
            <td role="cell"><a href="/user/deleteUser?idUser={{item.idUser}}">borrar</a></td>
        </tr>
    {% endfor %}
</table>
<br><a href="/user/insertarUser">Agregar usuario</a>
</body>
</html>